h1 {text-align: center;}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.social-footer{
  position: fixed;
  bottom: 0;
  width: 98%;
  background-color: #333;
  color: white;
  text-align: center;
}
.social-media-icons {
    float:none;
    display:inline-block;
}
.social-footer p a{
    color: #ffffff!important;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
